.row {
  margin: 0 !important;
}

.header-up-area {
  height: 45px;
  width: 100%;
  background-color: #f15803;
}
.header-up-area .header-up-left {
  display: flex;
  margin-left: 50px;
}
.header-up-area .header-up-left .menues ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
.header-up-area .header-up-left .menues ul a {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}
.header-up-area .header-up-left .menues ul a:hover {
  color: rgb(211, 211, 211);
}
.header-up-area .header-up-right {
  display: flex;
  font-size: 12px;
  margin-left: 120px;
  font-weight: bold;
}
.header-up-area .header-up-right .account ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 13px;
}
.header-up-area .header-up-right .account ul a {
  color: white;
  text-decoration: none;
}
.header-up-area .header-up-right .account i {
  color: white;
}
.header-up-area .header-up-right .language {
  color: white;
  margin-top: 13px;
  cursor: pointer;
}
.header-up-area .header-up-right .language img {
  height: 15px;
  width: 22px;
}

.header-down-area {
  margin-top: 30px;
  cursor: pointer;
  margin-left: 150px;
}
.header-down-area .logo img {
  width: 263px;
  height: 51px;
}
.header-down-area .search2 {
  margin-top: 5px;
  width: 250px;
  height: 40px;
  border: 1px solid #f15803;
}
.header-down-area .search2 input {
  padding-left: 20px;
  padding-top: 6px;
  border: none;
  background: none;
  font-weight: 400;
}
.header-down-area .search2 input:focus {
  outline: none;
}
.header-down-area .search2 i {
  display: flex;
  justify-content: end;
  position: absolute;
  margin-top: -20px;
  margin-left: 200px;
  color: #f15803;
}
.header-down-area .contact {
  margin-top: -10px;
}
.header-down-area .contact span {
  color: #f15803;
  font-weight: bold;
  font-size: 33px;
}
.header-down-area .contact p {
  font-size: 13px;
}
.header-down-area .basket {
  display: flex;
  margin-top: 20px;
  cursor: pointer;
  margin-left: -50px;
}
.header-down-area .basket .favori {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f15803;
  color: white;
}
.header-down-area .basket .zero span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  font-size: 12px;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-left: -10px;
  background-color: #f15803;
  color: white;
  border: 1px solid white;
}
.header-down-area .basket .shopping {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f15803;
  color: white;
  margin-left: 8px;
}
.header-down-area .basket .price {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 13px;
}

.header-navbar .navbar {
  margin-left: 40px;
  margin-top: 40px;
}
.header-navbar .navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.header-navbar .navbar ul a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: inherit;
  font-weight: 500;
  display: flex;
  transition: all 0.2s;
}
.header-navbar .navbar ul a:hover {
  color: #f15803;
}

#main-area .content img {
  width: 100%;
}
#main-area .points {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  gap: 10px;
}
#main-area .points .point {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: rgb(159, 159, 159);
}
#main-area .points .point .point1 {
  margin-top: 3px;
  margin-left: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50px;
  background-color: rgb(77, 76, 76);
}
#main-area .brands {
  margin-top: 80px;
  width: 1000px;
  height: 90px;
  margin-left: 300px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(200, 200, 200);
}
#main-area .brands img {
  width: 140px;
  height: 83px;
  margin-left: 20px;
}
#main-area .offer {
  height: 403px;
  width: 700px;
  border: 1px solid #aaaaaa;
  margin-top: 30px;
  margin-left: 105px;
}
#main-area .offer h4 {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  color: #aaaaaa;
  height: 40px;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  padding-left: 20px;
}
#main-area .offer .phone {
  display: flex;
}
#main-area .offer .phone .phone-img img {
  width: 303px;
  height: 303px;
}
#main-area .offer .phone .phone-text p {
  font-family: inherit;
  color: #4a4a4a;
  font-size: 25px;
  font-weight: 600;
}
#main-area .offer .phone .phone-text span {
  color: #f15803;
  font-weight: 400;
  font-size: 21px;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #aaaaaa;
  display: inline-block;
  width: 95%;
}
#main-area .honor {
  margin-top: 30px;
  margin-left: -95px;
}
#main-area .honor img {
  height: 403px;
  width: 231px;
}/*# sourceMappingURL=style.css.map */